.THIS .slds-card_float {
	display:inline-block;
	vertical-align: top;
	width: 354px;
	margin: .5rem;
}

.THIS .slds-theme_shade {
	background: #efefef;
}

.THIS .slds-card__header .slds-form-element__label {
	display: none
}

.THIS .slds-card {
	box-shadow: none;
	background: rgba(0, 0, 0, 0.1);
}

.THIS .slds-section__title {
	border-radius: 0;
}

.THIS .slds-section {
	margin-top:0;
}

.THIS .slds-box {
	background: #fafafa;
}